<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userPoints">
      <h2 data-cy="userPointsDetailsHeading"><span jhiTranslate="pointsManagementApp.userPoints.detail.title">User Points</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ userPoints.id }}</span>
        </dd>
        <dt><span jhiTranslate="pointsManagementApp.userPoints.points">Points</span></dt>
        <dd>
          <span>{{ userPoints.points }}</span>
        </dd>
        <dt><span jhiTranslate="pointsManagementApp.userPoints.user">User</span></dt>
        <dd>
          <span>{{ userPoints.user?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
      </button>

      <button type="button" [routerLink]="['/user-points', userPoints.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
      </button>
    </div>
  </div>
</div>
